body{
    background-color: #be2e2e;
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;

}


#contForm, form{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#contForm{
    width: 400px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    transition: transform  1.2s;
}

form{
width: 300px;
height: 140px;
justify-content: space-between;
}

h2{
    margin: 0 0 0.4em 0 ;
}
button{
    margin: 0;
    padding: 0;
    width: 100px;
    height: 15px;
    border: none;
    background-color: #b8b8b8;
}
button:hover{
    background-color: #771c1c9c;
    color: #fff;
    cursor: pointer;
}
input, button{
    border-radius: 20px;
    text-align: center;
}

.move{
    transform: translateX(650px);
}
.move2{
    transform: translateX(220px);
    position: absolute;
}
.styleCont{
    background-color: rgba(255, 255, 255, 0.5);
    width: 300px;
    padding: 50px;
    transition: transition 1s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    min-height: 300px;
}

.listStyle {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.voiceStyle{
    background-color: #fff;
    list-style: none;
    text-align: center;
    padding: 10px;
    border: solid 2px rgba(160, 11, 11, 0.616);
    color: #000000;
    border-radius: 10px;
    cursor: pointer;
}

.voiceStyle:hover{
    background-color: #a51c1cc2;
    color: #fff;

}

#banner1{
    height: 700px;
    background-color: #be2e2e;
    display: flex;
    padding-top: 150px;
    justify-content: center;
}

#banner2{
    height: 500px;
    background-color: #cf590a;
    padding: 150px;
    visibility: hidden;
}